@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  scroll-behavior: smooth;
}

h2 {
  text-align: center;
}

hr {
  border: 1px solid rgb(233 233 233);
  margin: 0 90px;
 justify-content: center;
}

nav {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.first-navbar {
  background-color: rgb(62, 62, 62);
  color: #fff;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  padding: 5px 50px;
}

.first-nav-links {
  margin-left: 10px;
}

.desktop-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #fff;
  width: 100%;
  height: 90px;
  padding: 5px 50px;
  list-style: none;
  color: black;
}

.desktop-link {
  margin-left: 20px;
}

.desktop-link:hover {
  color: #ef513c;
  transition: 0.7s ease;
}

.active-link {
  background-color: #ef513c;
  color: #fff;
  padding: 15px;
  margin: 0 15px;
  font-weight: 500;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: black;
  margin-top: 5px;
}

.mobile-menu-bar {
  display: none;
}

.intro-section {
  background-image: url('/img/header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 100px;
}

.intro-head {
  padding-top: 50px;
  font-size: 2em;
  color: #ef513c;
}

.intro-heading {
  font-size: 55px;
  font-weight: 900;
  margin: 5px 0 35px 0;
  color: #ef513c;
}

#date {
  margin-top: 27px;
  line-height: 1.3;
  font-weight: 900;
  font-size: 33px
}

#date-location {
  font-size: 20px;
}

#main-program {
  text-align: center;
}

.program-info {
  background-image: url('/img/pattern_bg.png');
  background-repeat: repeat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 30px 10px;
  justify-content: space-between;
  background-color: #272A31;
  margin-bottom: 50px;
  color: #fff;
}

.program {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  margin: 60px;
}

.program-list {
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 10px;
  margin: 3px;
}

/* .program-icon {
  display: block;
  width: 150px;
  height: 100px;
  border-radius: 100px;
} */

.program-bar {
  width: 53px;
  height: 16px;
  border-bottom: 1px solid rgb(239, 81, 60);
  margin: 0px auto 54px;
}

.see-more {
  text-align: right;
  margin-bottom: 100px;
  text-decoration: underline;
  margin-right: 100px;
}

.speaker-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 200px;
}

.speaker-heading {
  text-align: center;
}

.speaker-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  position: relative;
  gap: 20px;
  padding-top: 79px;
  /* flex-wrap: wrap; */
  width: 100%;
  /* margin: 40px 80px; */
}

.speaker {
  display: flex;
  position: relative;
  align-items: center;
  /* justify-content: center; */
  gap: 10px;
  margin-bottom: 1.5em;
}

.speaker-photo {
  background-image: url('/img/speaker-bg.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 60px;
  position: absolute;
  width: 100px;
  height: 100px;
  top: -25px;
  left: 25px;
}

.speaker-image {
  width: 165px;
  height: 165px;
  margin-left: 50px;
  z-index: 1;
}
.speaker-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.speaker-business {
  color: #ef513c;
  font-size: 13px;
  margin-bottom: 24px;
}

.sponsors {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px;
}

.sponsor-logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

footer {
  background-image: url(/img/pattern_bg.png);
  background-color: #272A31;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 80px;
  justify-content: space-between;
}

#about-section {
  background-image: url('/img/header-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.about-heading {
  text-align: center;
  padding: 50px
}

#about-intro {
  font-size: 40px;
  color: #ef513c
}

.about-text {
  display: flex;
  border: 1px solid #d3d3d3;
  background-color: #fff;
  margin: 20px auto;
  padding: 10px 20px;
  line-height: 2rem;
  font-size: 1.2rem;
  font-weight: 300;
}

.about-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-bottom: 1px solid #d3d3d3;
}

.about-log-head {
  font-size: 1.875em;
  margin-top: 70px;
}

.past-events {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  border-bottom: 1px solid #d3d3d3;
  text-align: center;
}

.events {
  display: flex;
}

.event {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #fff;
  padding: 50px;
}

.event_one {
  background-image: url('/img/event1.jpg');
  background-size: cover;
  background-blend-mode: darken;
  background-color: #ef513c;
  width: 400px;
  height: 200px;
  margin: 20px;
}

.event_two {
  background-image:  url('/img/event3.jpg');
  background-size: cover;
  background-blend-mode: darken;
  background-color: #ef513c;
  width: 400px;
  height: 200px;
  margin: 20px;
}


.event-year {
  font-size: 2.0rem;
  font-weight: 900;
}

.event-text {
  font-size: 1.2rem
}


@media screen and (max-width: 968px) {
  .first-navbar,
  .logo {
    display: none;
  }

  .mobile-menu-bar {
    display: block;
    cursor: pointer;
    margin: 30px;
    z-index: 99;
  }

  .mobile-menu-bar.active .bar:nth-child(2) {
    opacity: 0;
  } 

  .mobile-menu-bar.active .bar:nth-child(1) {
    z-index: 9999;
    position: fixed;
    transform: translateY(8px) rotate(45deg);
  } 

  .mobile-menu-bar.active .bar:nth-child(3) {
    z-index: 101;
    position: fixed;
    transform: translateY(0px) rotate(-45deg);
  } 

  .desktop-menu {
    z-index: 99;
    margin-left: -100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .desktop-menu.active {
    margin-left: 0;
    overflow-y: hidden;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
    background-color:  rgb(39, 42, 50);
    opacity: 0.95;
    bottom: 0;
    transition: 0.3s ease-in-out;
  }

  .desktop-link {
    margin: 16px 0;
    color: #fff;
    font-size: 30px;
  }

  .intro-section {
    background-image: url('/img/header-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 10px 35px;
  }

  .intro-text {
    line-height: 1.5rem;
    font-size: 1.2rem;
  }

  .program {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
  }

  .speaker-container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 20px;
    /* flex-wrap: wrap; */
    width: 100%;
    /* margin: 40px 80px; */
  }

  .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99999;
    width: 100vw;
    height: 100%;
    background-color: rgba(2, 0, 15, 0.8);
    opacity: 0.1;
  }

  .about-heading {
    text-align: center;
    padding: 50px
  }

  .about-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid #d3d3d3;
    text-align: center;
  }

  .past-events {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    text-align: center;
  }

  .about-logo-text {
    font-size: 1rem;
    line-height: 24px;
  }

  .events {
    display: flex;
    flex-direction: column;
  }

  .event_one {
    background-image: url('/img/event1.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-color: #ef513c;
    width: 80vw;
    height: 50vw;
    margin: 20px;
  }

  .event_two {
    background-image:  url('/img/event3.jpg');
    background-size: cover;
    background-blend-mode: darken;
    background-color: #ef513c;
    width: 80vw;
    height: 50vw;
    margin: 20px;
  }

}